body, html{
 width: 50%;
 margin: 0 auto;
}

.container{
 width: 100%;
 padding-top: 20px;
}

form{
display: flex;
outline: none;
}

#add{
 width: 100%;
 padding: 10px;
}

.btn{
 padding: 12px;
 width: 30%;
}


.list li{
 display: flex;
 justify-content: space-evenly;
}

li button{
margin-bottom: 10px;
}